In [1]:
import pandas as pd

In [4]:
a = pd.read_excel('../sample.xlsx')

In [5]:
a

    Cust_No 分類
0         1  A
1         2  B
2         3  A
3         4  B
4         5  A
5         6  B
6         7  A
7         8  B
8         9  A
9        10  B
10       11  A
11       12  B
12       13  A
13       14  B
14       15  A
15       16  B
16       17  A
17       18  B
18       19  A
19       20  B

In [18]:
import json
json.loads(a[a.Cust_No == 21].to_json(force_ascii=False))

{'Cust_No': {}, '分類': {}}

In [1]:
crew_dict = {
    "captain": "Monkey D. Luffy",
    "swordsman": "Roronoa Zoro",
    "navigator": "Nami",
    "sniper": "Usopp",
    "chef": "Vinsmoke Sanji",
    "doctor": "Tony Tony Chopper",
    "archaeologist": "Nico Robin",
    "shipwright": "Franky",
    "musician": "Brook"
}

In [3]:
import pandas as pd
ser = pd.Series(crew_dict)

archaeologist           Nico Robin
captain            Monkey D. Luffy
chef                Vinsmoke Sanji
doctor           Tony Tony Chopper
musician                     Brook
navigator                     Nami
shipwright                  Franky
sniper                       Usopp
swordsman             Roronoa Zoro
dtype: object