## 簡介
https://kknews.cc/zh-tw/news/omvx2qm.html

In [1]:
import numpy as np
import matplotlib as mp
import pandas as pd
%matplotlib inline
import sklearn
import os
import sys
import datetime
import random

## 11.1 快速瀏覽

In [3]:
df = pd.DataFrame(data={"A":np.arange(10),"B":['A']*10})
df.head()

   A  B
0  0  A
1  1  A
2  2  A
3  3  A
4  4  A

In [4]:
df.tail()

   A  B
5  5  A
6  6  A
7  7  A
8  8  A
9  9  A

## 11.2 直接輸出附值結果
沒找到QQ

In [6]:
a = 1

## 11.3 加總欄或者是列

In [7]:
df = pd.DataFrame(data={"A":np.arange(10),"B":np.zeros(10)+10})

In [8]:
df.sum()

A     45.0
B    100.0
dtype: float64

In [9]:
df.sum(axis=0)

A     45.0
B    100.0
dtype: float64

In [10]:
df.sum(axis=1)

0    10.0
1    11.0
2    12.0
3    13.0
4    14.0
5    15.0
6    16.0
7    17.0
8    18.0
9    19.0
dtype: float64

## 11.5 合併兩欄
https://docs.scipy.org/doc/numpy/reference/generated/numpy.vstack.html#numpy.vstack

In [11]:
a = np.arange(10)
b = np.zeros(10)+3

In [12]:
np.concatenate((a,b),axis=0)

array([ 0.,  1.,  2.,  3.,  4.,  5.,  6.,  7.,  8.,  9.,  3.,  3.,  3.,
        3.,  3.,  3.,  3.,  3.,  3.,  3.])

In [15]:
np.vstack((a,b))

array([[ 0.,  1.,  2.,  3.,  4.,  5.,  6.,  7.,  8.,  9.],
       [ 3.,  3.,  3.,  3.,  3.,  3.,  3.,  3.,  3.,  3.]])

## 11.6 分級